@page
@model Frontend.Pages.CEquipo.IndexModel
@{
    ViewData["Title"]= "Index";
}
<h1>Lista de Equipos</h1>
<p> 
    <a asp-page= "Create"> Crear Equipo</a>
</p>

<table class="table">
    <thead>
        <tr>              
            <th> Nombre </th>
            <th> Disciplina </th>
            <th> Cantidad de Deportistas </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var Equi in Model.Equipos)
        {
        <tr>
            <td> @Equi.Nombre </td>
            <td> @Equi.Disciplina </td>
            <td> @Equi.CantidadDeportistas</td>
            
            <td>
                <a asp-page="./Edit" asp-route-id="@Equi.Id">Editar</a>
                <a asp-page="./Delete"asp-route-id="@Equi.Id">Eliminar</a>
                <a asp-page="./Details"asp-route-id="@Equi.Id">Detalles</a>
            </td>
        </tr>
        }
    </tbody>
</table>


