@page
@model Frontend.Pages.EntrenadorIndexModel
@{
    ViewData["Title"]= "EntrenadorIndex";
}
<h1>Lista de Entrenadores</h1>
<p> 
    <a asp-page= "EntrenadorCreate"> Crear Entrenador</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th> Id </th>   
            <th> Nombre </th>
            <th> Disciplina </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Entre in Model.Entrenadores)
        {
        <tr>
            <td> @Entre.Id </td>
            <td> @Entre.Nombres </td>
            <td> @Entre.DisciplinaDeportiva </td>
            <td>
                <a asp-page="./EntrenadorEdit" asp-route-id="@Entre.Id">Editar</a>
                <a asp-page="./EntrenadorDelete"asp-route-id="@Entre.Id">Eliminar</a>
                <a asp-page="./EntrenadorDetails"asp-route-id="@Entre.Id">Detalles</a>
            </td>
        </tr>
        }
    </tbody>
</table>
